# --- Backend (production) ---
NODE_ENV=production
PORT=4000

MONGO_HOST=prod-mongo.internal
MONGO_PORT=27017
MONGO_USER=booklio
MONGO_PASSWORD=prod_password_change_me
MONGO_DB=booklio
MONGO_AUTH_SOURCE=admin
# Option: override with full URI (ex: cluster)
# MONGO_URI=mongodb+srv://booklio:prod_password_change_me@cluster.example.com/booklio?authSource=admin

REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=prod_access_secret_change_me
JWT_REFRESH_SECRET=prod_refresh_secret_change_me
BCRYPT_SALT_ROUNDS=12

REQUIRED_HEADER_NAME=x-api-key
REQUIRED_HEADER_VALUE_PROD=prod-key-secret

# --- Frontend build (prod) ---
REACT_APP_API_BASE_URL=/api
REACT_APP_X_API_KEY=x-api-key
REACT_APP_REQUIRED_HEADER_VALUE_PROD=prod-key-secret

